.action{
    width: 100%;
    height: max-content;
    background-color: #555555;
}
.action-search{
    background-color: rgb(235, 11, 11);
    height: 60px;
    position: sticky;
    top: 0;
}
.action-search > input{
    width: 30%;
    float: right;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
}
.action-bar{
    background-color: #555555;
    color: white;
    font-size: 20px;
}
.action-data{
    margin-top: 40px;
}
.to-home{
    width: 50px;
    margin: 10px;
}