.Series{
    width: 100%;
    height: max-content;
    background-color: #555555;
}
.Series-search{
    background-color: rgb(235, 11, 11);
    height: 60px;
    position: sticky;
    top: 0;
}
.Series-search > input{
    width: 30%;
    float: right;
    margin: 10px;
    border-radius: 5px;
}
.input-bar{
    background-color: #555555;
    color: white;
    font-size: 20px;
}
.Series-data{
    margin-top: 40px;
}
.to-home{
    width: 50px;
    margin: 10px;
}
.home-button{
    font-size: 40px;
    padding: 8px;
    color: black;
}